doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title nw - dev

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.webp', alt='...', style="width:4em;height:4em;margin-top:0.2em")
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.webp', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#volunteering') Volunteering
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-1
                        | Nicholas 
                        span.text-primary Workman
                    .subheading.mb-4
                        a(href='mailto:nichol@sworkman.dev') nichol@sworkman.dev
                    p.lead.mb-1
                        | An experienced software engineer, web developer, and linguist - I eagerly await my next challenge.
                    p.lead.mb-5
                        | Reach out, and let's see what I can do for you.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/nicholasworkman/' target="_blank" rel="noopener noreferrer")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/Momosimo' target="_blank" rel="noopener noreferrer")
                            i.fab.fa-github
                        a.social-icon(href='https://www.instagram.com/pndvrmlh/' target="_blank" rel="noopener noreferrer")
                            i.fab.fa-instagram
                        a.social-icon(href='mailto:nichol@sworkman.dev')
                            i.fab.fa-google

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Artificial Intelligence Developer
                            .subheading.mb-3 Ally
                            //- p
                            //-     | Description
                        .flex-shrink-0
                            span.text-primary Dec 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Freelance
                            //- p
                            //-     | Description
                        .flex-shrink-0
                            span.text-primary Dec 2018 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Full Stack Software Engineer
                            .subheading.mb-3 Omnichain™
                            //- p
                            //-     | Description
                        .flex-shrink-0
                            span.text-primary Jun 2019 - Dec 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Full Stack Developer
                            .subheading.mb-3 HaulMi
                            //- p
                            //-     | Description
                        .flex-shrink-0
                            span.text-primary Jan 2019 - Mar 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Computational Linguist
                            .subheading.mb-3 Credit Suisse
                            //- p
                            //-     | Description
                        .flex-shrink-0
                            span.text-primary Oct 2018 - Jan 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Front End Developer &
                            h3.mb-0 Help Desk Administrator
                            .subheading.mb-3 Greenlight Community Broadband
                            //- p
                            //-     | Description
                        .flex-shrink-0
                            span.text-primary Jan 2017 - Oct 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Consultant (Portuguese Language)
                            .subheading.mb-3 Center for Applied Linguistics
                            //- p
                            //-     | Description
                        .flex-shrink-0
                            span.text-primary May 2015 - Aug 2015   

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Georgetown University
                            .subheading.mb-3 Bachelor of Arts
                            div Linguistics
                            p Minors: Spanish, Portuguese
                        .flex-shrink-0
                            span.text-primary Aug 2012 - Dec 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Woodberry Forest School
                            .subheading.mb-3 High School Diploma
                            p Activities and societies: Varsity Wrestling Captain. Inducted into the Cum Laude Society - summa cum laude. President of the International Forum (a cultural exchange program for international students). Lead Prose Editor and co-Designer of The Talon (a CSPA-distinguished, student-run literary arts publication). Chemistry Award and Syracuse Book Award winner.
                            p 12 Trimester Walker Scholar (4.01+ GPA of 4.50 total); summa cum laude latin graduation honors.
                        .flex-shrink-0
                            span.text-primary Aug 2008 - May 2012

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University of Oxford
                            .subheading.mb-3 Study Abroad
                            p Studied creative writing and general UK history; especially related to architecture, general religion, and Celtic imagery.
                            p With professors, we explored the countryside and wrote as we soaked in new experiences. Read and wrote constantly in-between semi-intensive analytical coursework.
                        .flex-shrink-0
                            span.text-primary Jun 2011 - Aug 2011

            hr.m-0

            // Volunteering
            section#volunteering.resume-section
                .resume-section-content
                    h2.mb-5 Volunteering

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Intern
                            .subheading.mb-3 Greenlight Community Broadband
                            p Shadowed the Creative Solutions Engineer daily, and occasionally picked up projects with other members of the engineering team in order to develop a broad, holistic sense of fiber optic networking procedures, web development, graphic design, video production, etc.
                        .flex-shrink-0
                            span.text-primary May 2013 - Sep 2013 · 5 mos

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Spanish-English Tutor
                            .subheading.mb-3 DC Reads
                            p Worked mainly in Spanish with El Salvadoreño DC public school system students. Helped tutees acquire a better baseline understanding of the English language, as well as various topics such as general mathematics, earth science, American literature, etc.
                        .flex-shrink-0
                            span.text-primary Aug 2012 - Jan 2014 · 1 yr 6 mos

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Translator
                            .subheading.mb-3 City of Wilson
                            p Provided English to Spanish document translation services for the victims' assistance program at my local police department.
                        .flex-shrink-0
                            span.text-primary Jun 2010 - Sep 2010 · 4 mos

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Mentor
                            .subheading.mb-3 Boys & Girls Clubs of America
                            p Served as a pen pal for several local children while in high school, and attended several school-sponsored events with mentees.
                        .flex-shrink-0
                            span.text-primary Sep 2009 - May 2012 · 2 yrs 9 mos

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Student Volunteer Abroad
                            .subheading.mb-3 Woodberry Forest School
                            p Volunteered in a Nicaraguan education and language/cultural exchange program in Estelí, Nicaragua. Lived with a host family within a fully-immersive Spanish language-learning environment. Minimal English exposure for the duration of the trip during non-teaching hours. Taught English as well as general school subjects to children aged 5-10. Took hours of daily, intensive Spanish-language courses. Performed manual day labor to improve local infrastructure. Met the National Nicaraguan Wrestling team with my professors!
                        .flex-shrink-0
                            span.text-primary Jun 2009 - Aug 2009 · 3 mos

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-php
                        li.list-inline-item
                            i.fab.fa-git-alt
                        li.list-inline-item
                            i.fab.fa-node
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-wordpress
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-3
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-Friendly, Modern, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development and Scrum
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Secure, Efficient, and Detail-Oriented Work
                    .subheading.mb-3 Certifications
                    ul.fa-ul.mb-3
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Rasa Certified Developer
                    .subheading.mb-3 Spoken Languages
                    ul.fa-ul.mb-3
                        li
                            span.fa-li
                                i.fas.fa-check
                            | English
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Spanish
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Portuguese


            hr.m-0

            // Contact
            section#contact.resume-section
                .resume-section-content
                    h2.mb-5 Contact
                    .subheading.mb-0
                        |  e-mail: 
                        a(href='mailto:nichol@sworkman.dev') nichol@sworkman.dev
                    .subheading.mb-0
                        |  smoke signal: 
                        a(href='mailto:nichol@sworkman.dev') yes
                    .subheading.mb-0
                        |  carrier pigeon: 
                        a(href='mailto:nichol@sworkman.dev') why not

            //- // Interests
            //- section#interests.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Interests
            //-         p
            //-             | I like to move it move it.

            //- hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')