// 
// Global
// 

body {
    padding-top: $navbar-base-height;
    color: rgb(200, 200, 200);
    background-color: #36393f;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    line-height: 1;
    color: rgb(255, 255, 255);
}

h4 {
    color: #6f87a1;
    font-size: 1.4rem;
    font-style: italic;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}

a:hover {
  color: #ffffff;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  background-image: url(../assets/img/photos/IMG_1537.jpg);
  background-size: cover;
  background-position: center center;
}