// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: rgb(122, 122, 122);

// Override Bootstrap color system

$main-blue: #99BADD;

// Override Bootstrap default state colors

$primary: $main-blue;
